mixin menu(mainClass,nameOne,nameTwo,nameThree,nameFour,nameFive)
  ul
    li
      a(class=mainClass class='nav-reg-ul-li__aboutUs' href="") #{nameOne}
    li
      a(class=mainClass class='nav-reg-ul-li__service' href="") #{nameTwo}
    li
      a(class=mainClass class='nav-reg-ul-li__vacancy' href="") #{nameThree}
    li
      a(class=mainClass class='nav-reg-ul-li__news' href="") #{nameFour}
    li
      a(class=mainClass class='nav-reg-ul-li__agreements' href="") #{nameFive}