mixin dropdown_guest(var1,var2,var3,adults,children,babies,button1,button2)
  p.dropdown__p.first #{var1}
    p.dropdown__p #{var2}
    p.dropdown__p #{var3}
    .dropdown__circle-plus1
      p.dropdown-p__plus +
    .dropdown__circle-plus2
      p.dropdown-p__plus +
    .dropdown__circle-plus3 
      p.dropdown-p__plus +
    .dropdown__circle-minus1
      p.dropdown-p__minus -
    .dropdown__circle-minus2
      p.dropdown-p__minus -
    .dropdown__circle-minus3
      p.dropdown-p__minus.last -
    if (adults)  
      .adults #{adults} 
    if (children)  
      .children #{children}
    if (babies)  
      .babies #{babies}
    

  if (button1)
    a.dropdown__link1(href="#") #{button1}
  if (button2)  
    a.dropdown__link2(href="#") #{button2}



