mixin list(firstClass,mainClass,punktOne,punktTwo,punktThree,punktFour,punktFive)
  ul
    li
      a(class=firstClass href="") #{punktOne}
    li
      a(class=mainClass href="") #{punktTwo}
    li
      a(class=mainClass href="") #{punktThree}   
    li
      a(class=mainClass href="") #{punktFour}
    li
      a(class=mainClass href="") #{punktFive}
