mixin dropdown(var1,var2,var3,button1,button2)
  .dropdown
    p.dropdown__p.first #{var1}
    p.dropdown__p #{var2} 
    p.dropdown__p #{var3}
    .dropdown__circle-plus1
      p.dropdown-p__plus +
    .dropdown__circle-plus2
      p.dropdown-p__plus +
    .dropdown__circle-plus3 
      p.dropdown-p__plus +
    .dropdown__circle-minus1
      p.dropdown-p__minus -
    .dropdown__circle-minus2
      p.dropdown-p__minus -
    .dropdown__circle-minus3
      p.dropdown-p__minus -
    a.dropdown__link1(href="#") #{button1}
    a.dropdown__link2(href="#") #{button2}


form.search-room(action="#")
  h1.search-room__header Найдём номера под ваши пожелания
  h3.search-room-header__arrival прибытие
  h3.search-room-header__departure  выезд
  
  input.search-room__arrival-date(type="text" placeholder="ДД.ММ.ГГГГ")
  .material-icons-outlined.search-room-arrival-date__expand-more expand_more
  
  input.search-room__date-of-departure(type="text" placeholder="ДД.ММ.ГГГГ")
  .material-icons-outlined.search-room-date-of-departure__expand-more expand_more
  
  h3.search-room-header__gast гости
  input.search-room__gast(type="text" placeholder="Сколько гостей")
  .material-icons-outlined.search-room-dropdown__expand-more expand_more

  +dropdown('взрослые', 'дети', 'младенцы', 'очистить', 'применить')

  .search-room-link
    a.search-room__pick-up-a-room(href="#") Подобрать номер
    .material-icons-outlined.search-room-pick-up-a-room arrow_forward  

  